demo.json
[{"id":"f321413d.29703","type":"modbus-getter","z":"3c39ebbb.7e8f64","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"497bcc05.d0d374","x":412,"y":218,"wires":[["1e0a7537.a8094b","12cc3542.e30b5b","db2cdde.b47db2"],[]]},{"id":"ad082680.912258","type":"inject","z":"3c39ebbb.7e8f64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":216,"wires":[["f321413d.29703"]]},{"id":"1e0a7537.a8094b","type":"modbus-data-converter","z":"3c39ebbb.7e8f64","name":"","topic":"","outtype":"3","outendian":"0","outlength":"1","x":711,"y":202,"wires":[["83759eb9.028a1"]]},{"id":"12cc3542.e30b5b","type":"modbus-converter2mqtt","z":"3c39ebbb.7e8f64","name":"","topic":"","outtype":"3","outendian":"0","changetrigger":false,"condition":"2","threshold":"5","outlength":"1","template":"The value [{0}] is bigger than 5.","x":691,"y":250,"wires":[["1896f1de.baa67e"]]},{"id":"db2cdde.b47db2","type":"modbus-converter2sqlite","z":"3c39ebbb.7e8f64","name":"","topic":"","outtype":"3","outendian":"0","changetrigger":false,"condition":"2","threshold":"5","outlength":"1","template":"INSERT INTO 'testtb' ('value1') VALUES ({0})","x":689,"y":300,"wires":[["8add84f0.6f6328"]]},{"id":"1896f1de.baa67e","type":"mqtt out","z":"3c39ebbb.7e8f64","name":"","topic":"","qos":"","retain":"","x":942.5,"y":253,"wires":[]},{"id":"83759eb9.028a1","type":"debug","z":"3c39ebbb.7e8f64","name":"","active":true,"console":"false","complete":"false","x":945,"y":201,"wires":[]},{"id":"8add84f0.6f6328","type":"sqlite","z":"3c39ebbb.7e8f64","name":"","x":944.5,"y":302,"wires":[[]]},{"id":"497bcc05.d0d374","type":"modbus-client","z":"","name":"modsim","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]